{% extends 'kakeibo/base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h4>グラフ</h4>
    <a href="{% url 'kakeibo:list' %}" class="btn btn-outline-secondary">＜ー 一覧に戻る</a>
</div>

{% if error %}
<div class="alert alert-warning">{{ error }}</div>
{% else %}

<div class="row mb-4">
    {% if charset.bar %}
    <div class="col12- mb-4">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">月別収支</div>
            <div class="card-body text-center">
                <img src="data:image/png;base64,{{ charts.bar }}" class="img-fluid">
            </div>
        </div>
    </div>
    {% endif %}

    {% if charts.pie %}
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-header bg-danger text-white">支出カテゴリ別割合</div>
            <div class="card-body text-center">
                <img src="data:image/png;base64, {{ charts.pie }}" class="img-fluid">
            </div>
        </div>
    </div>
    {% endif %}

    {% if charts.hbar %}
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-header bg-warning text-dark">カテゴリ別支出金額</div>
            <div class="card-body text-center">
                <img src="data:image/png;base64, {{ charts.hbar }}" class="img-fluid">
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}